@(signedIn: Boolean)

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/custom/waiting.js")"></script>
}

@views.html.shared.main(signedIn, scripts) {

    <div class="info-box">
        <div class="text-center">
            <span>@play.i18n.Messages.get("app.name")</span>
        </div>
    </div>
    
    <div class="col-sm-6 col-sm-offset-3 text-center box">
        <div class="panel-body">
            <h2>@play.i18n.Messages.get("game-multiplayer-waiting-header")</h2>
            <img id="img-loading" src='@routes.Assets.at("images/loading.gif")' alt="loading" />
            <p>@play.i18n.Messages.get("game-multiplayer-waiting-message")</p>

            <button id="btn-cancel" class="btn btn-warning">@play.i18n.Messages.get("game-multiplayer-waiting-button-cancel")</button>
        </div>
    </div>
   
}
