@(signedIn: Boolean)

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/custom/waiting.js")"></script>
}

@views.html.shared.main(signedIn, scripts) {

    <div class="text-center panel panel-default col-sm-6 col-sm-offset-3">
        <div class="panel-body">
            <h2>Game created</h2>
            <img id="img-loading" src='@routes.Assets.at("images/loading.gif")' alt="loading" />
            <p>Waiting for another player to join the game...</p>

            <button id="btn-cancel" class="btn btn-warning">Cancel</button>
        </div>
    </div>
   
}
