@(signedin: Boolean = false, scripts: Html = new Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@play.i18n.Messages.get("app.name")</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

        <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        
        <main class="container-fluid body-content" >
            @content
        </main>

        <footer class="container-fluid">
            <p class="credit text-center">
                    &copy; 2015 - Team A Software Development -
                <a href='@routes.Application.impressum()'>Impressum</a>
            </p>
        </footer>
        
        <section id="scripts">
            <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.11.2.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js")"></script>
            <script type="text/javascript" src="@routes.Assets.at("js/custom/main.js")"></script>
            @scripts
        </section>
    
    </body>
</html>
