.row-first {
    margin-top: 50px;
}

body {
    padding-top: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#card {
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #AAAAAA;
    padding-top: 10px;
    box-shadow: 3px 3px 3px 0px #ccc;    
}
.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    height: auto;
}

#card table {
    width: 100%;
    
}

.card-content-label {
    font-size: 0.8em;
}

.card-content-value {
    text-align: right;
}

.game-info {
    margin-top: 20px;
}

#info {
    max-width: 600px;
    
}

.login-form {

    margin-top: 80px;
    max-width: 300px;
}

/* Sticky footer styles
 -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 20px;
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}