@(signedin: Boolean)
@shared.main(signedin) {

	<div class="text-center">
		<h1><small>@play.i18n.Messages.get("index.header")</small><br/>
		@play.i18n.Messages.get("app.name")</h1>
	</div>
	

	<div class="row row-first">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 btn-group-vertical">
			<a class="btn btn-default btn-lg btn-block" href="@routes.GameController.selectMode()">@play.i18n.Messages.get("index.link-newGame")</a>
			<a class="btn btn-default btn-lg btn-block" href="@routes.Application.manual()">@play.i18n.Messages.get("index.link-manual")</a>
		</div>
	</div>

}
